body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  .container {
    width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(251, 197, 49, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}
.header-logo {
  float: left;
  font-size: 40px;
  color: #ffffff;
  padding: 10px 0px;
  margin-right: 20px;
}
.header-list a {
  float: left;
  color: #ffffff;
  font-size: 20px;
  display: inline-block;
  padding: 20px 10px;
}
a {
  text-decoration: none;
}
.home{
  background-image: url("home.jpg");
  height: 500px;
  padding: 100px 0 50px 0;
  background-size: cover;
  color: white;
}
.home h1{
  font-size: 45px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 190px;
}
.header-right {
  float: right;
  font-size: 20px;
  /* background-color: rgba(251, 197, 49, 0.5); */
  transition: all 0.5s;
}
.header-right a {
  color: #fff;
  margin-top: 10px;
}
.btnJoinskuy {
  background-color: rgba(255, 232, 21, 0.8);
  padding: 12px 24px;
  display: block;
  border-radius: 4px;
  text-align: center;
}

  .lesson-wrapper {
    height: 500px;
    padding-bottom: 90px;
    background-color: hsl(0, 0%, 81%);
    text-align: center;
  }
  
  .heading {
    padding-top: 20px;
    padding-bottom: 30px;
    color: #5f5d60;
  }
  
    
  .lesson {
    float: left;
    width: 20%;
  }
  
  .lesson-icon {
    position: relative;
  }
  
  .lesson-icon p {
    position: absolute;
    top: 90px;
    width: 100%;
    color: white;
  }
  
  .txt-contents {
    width: 80%;
    display: inline-block;
    margin-top: 5px;
    font-size: 15px;
    color: #000000;
    line-height : 15px;
  }
   
   
  footer p {
    color: #b3aeb5;
    font-size: 12px;
  }
  
  footer {
    padding-top: 30px;
  }

  .lesson-icon > img {
    max-width: 70%;
  }


  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

  .contact-submit {
    background-color: #ffffff;
    color: #889eab;
}

.contact-form p {
  padding-top: 20px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 32px;
  text-align: left;
  padding-left: 100px;
}

.contact-form {
  padding-left: 0px;
}

.contact-form h3 {
  padding-left: 100px;
  padding-top: 50px;
}

textarea {
  width: 535px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 1px;
  font-size: 20px;
  border: 1px solid #dee7ec;
  background-color: #FBC531;
  margin-left: 100px;
}

.contact-form p{
  font-size: 20px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 40px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  margin-top: 40px;
  margin-bottom: 20px;
  text-align: left;
}

input {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-bottom: 10px;
  padding-right: 50px;
  padding-top: 10px;
  font-size: 18px;
  border: 1px solid #dee7ec;
}


.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: left;
}

.message {
  padding: 15px 50px;
  background-color: #adadad;
  cursor: pointer;
  box-shadow: -3px 7px #636260;
  border: 1px solid #f1c40f;
  margin-left: 47px;
}

.message:active {
  box-shadow: none;
  position: relative;
  top: 7px;
}

.btn {
  color: white;
  font-size: 30px;

}
footer{
  background-color: #FBC531;
  color: white;
  height: 90px;
  text-align: center;
}

.txt-contents .name{
  font-weight: bold;
}

.join-img{
  width: 40%;
  position: absolute;
  left: 45rem;
  top: 93rem;
}